*.gpkg-shm
*.gpkg-wal
*.qgis~
dati/progetto_base.qgs~
analisi/isolinee/config
analisi/isolinee/output/*.csv
analisi/isolinee/output/tmp*
*.qgs~
*.ipynb
.ipynb_checkpoints
tmp*
googleaction/script/generatoreMappeStatiche/api
fetch_map_ods.php
